/* Tratamento de imagem na Noticia da Categoria Politica com mais destaques */
.img-detach {
    width: 100%;
    height: 8rem;
    overflow: hidden;
}

.img-detach img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tratamentos das imagens na sessão Noticias por categorias */
.img-card {
    width: 100%;
    height: 13.5rem;
    overflow: hidden;
}

.img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tratamento das imagem na Home na sessão Noticias de hoje as masi recentes*/
.img-today {
    width: 100%;
    height: 10rem;
    overflow: hidden;
}

.img-today img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tratamento das imagem na Home na sessão Noticias de hoje as com destaques */
.img-big1 {
    width: 100%;
    height: 33rem;
    overflow: hidden;
}

.img-big1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* tratamento das imagens na listagem das categorias do tipo categoria */
.img-card-policy {
    width: 100%;
    height: 20rem;
    overflow: hidden;
}

.img-card-policy img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tratamento da imagem nos detalhes da noticias */

.fixed-img {
    width: 80%;
    height: 25rem;
    overflow: hidden;
    border-radius: 8px;
}

.fixed-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* Tratamento da imagem na sessão das categorias de noticias*/
.img-general {
    width: 100%;
    height: 28.5rem;
    /* altura fixa do container */
    overflow: hidden;
    /* garante que nada ultrapasse */
}

.img-general img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* faz o recorte proporcional */
}

/* allnews - todas */
.img-allnews {
    width: 100%;
    height: 8rem;
    overflow: hidden;
}

.img-allnews img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tratamento de imagem na Sessão Ciências e Tecnologias */

/* imagens das 4 mais recentes */
.img-tech {
    width: 100%;
    height: 8rem;
    overflow: hidden;
}

.img-tech img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  imagem da mais destacada */
.img-tech1 {
    width: 100%;
    height: 30rem;
    overflow: hidden;
}

.img-tech1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tratamento dos videos */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* proporção 16:9 */
    height: 0;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    background: #000;
    border-radius: 12px;
    /* bordas suaves */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
    /* destaque elegante */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* Tratamento de imagem da Subscriçãio */
.img-sub {
    width: 45%;
    max-height: 21.5rem;
    overflow: hidden;
}

.img-sub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tratamento de imagem no footer */
.img-footer {
    width: 100%;
    height: 5rem;
    overflow: hidden;
}

.img-footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tratamento de imagem na sessão dos anúncios */
.img-ads {
    width: 100%;
    height: 13.5rem;
    overflow: hidden;
}

.img-ads img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Profile do aluno - todas */
.img-profile {
    width: 100%;
    height: 12.5rem;
    overflow: hidden;
}

.img-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Profile do aluno - todas */
.img-uniLogo {
    width: 100%;
    height: 15rem;
    overflow: hidden;
}

.img-uniLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
